HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.mvn/
/.mvn/wrapper/

/my_folder/
/mvnw
/mvnw.cmd
/srore/src/main/resources/application.yaml
/srore/src/main/resources/private.properties
/srore/src/main/resources/ru/lazarev/online_store/
